
body{

    background-image: url("/website/images/rocketleaguebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color:white;
    background-color: rgb(9, 81, 214);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li.nav{
    list-style-type: none;
    text-align: center;
    color:rgb(27, 228, 255);
    font-size: 2em;
    margin: 0.5em;
    float: left;
    
}

a{
    color: rgb(27, 228, 255);
    text-decoration: none;
}

div#navbar{
    background-color: rgb(6, 59, 156);
    border: solid;
    border-color: rgb(26, 97, 230);
    border-width: 0.5em;
    margin: 0.5em;
    
}

ul#navitem{
    padding: 0px;
    overflow: hidden;
    position: relative;

}

h1{
    font-size: 4em;
    background-color: rgba(9, 81, 214, 0.5)
}

p{
    font-size: 3.5em;
    background-color: rgba(9, 81, 214, 0.5)
}


ul#vraaglijst{
    background-color: rgba(9, 81, 214, 0.5);
    list-style-type: none;
    font-size: 3em;

}

div#inleiding{
    width: 80em;
    border: solid;
    border-color: rgb(26, 97, 230);
    margin: 0em 0.5em;

}
