@font-face {
    font-family: gothic;
    src: url("/website/font/leaguegothic.otf");

}

body{
    background-image: url("/website/images/rocketleaguebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: auto;

    color:white;
    background-color: rgb(9, 81, 214);
    max-width: 900px;
    min-width: 900px;
    float: center;
    position: auto;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    overflow: auto;
    padding: 0;
    font-family: gothic;
    
}

/* Navigation Bar */

li.navitem{
    list-style-type: none;
    text-align: right;
    color:rgb(27, 228, 255);
    font-size: 41px;
    padding: 10px;
    float: left;
    text-decoration: none;

}

li a{
    display: block;
    color: rgb(27, 228, 255);
    text-decoration: none;
}

li a:hover{
    background-color: rgb(9, 109, 223);
    color: rgb(27, 228, 255);

}


div#navbar{
    background-color: rgb(6, 59, 156);
    border: solid;
    border-color: rgb(26, 97, 230);
    border-width: 8px;
    margin: 2px;
    
}

ul#nav{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

/* Voorpagina */

ul#vraaglijst{
    list-style-type: none;
    font-size: 60px;

}

div.inleiding{
    margin: 2% 2% 10% 2%;
    width: 94%;
    border: solid;
    border-color: rgb(26, 97, 230);
    background-color: rgba(9, 81, 214, 0.6);
    padding: 10px;
    font-size: 60px;
    text-align: center;
 
}

/* Pagina Inhoud */

div.blok{
    margin: 2% 2% 10% 2%;
    width: 94%;
    border: solid;
    border-color: rgb(26, 97, 230);
    background-color: rgba(9, 81, 214, 0.6);
    padding: 10px;
    font-size: 60px;

}

p{
    padding: 0;
    margin: 0;

}

h1.titel{
    font-size: 80px;
    text-align: center;

}

img.groot{
    width: 100%;

}